* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
      font-family: "Inter", sans-serif;

}

header{
    
}
header nav{
    display: flex;
    justify-content: space-between;
    /* background-color: aqua; */
    /* padding: 16px 120px; */
    /* padding: 16px 120px 16px 120px; */
    padding: 20px 120px;

}
header nav ul{
    list-style: none;
    display: flex;
    gap: 30px;
    align-items: center;

}
header nav ul li a{
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: medium;
}
header .btn_1{
    padding: 5px 16px;
    border: none;
    border-radius: 6px;
    background-color: #469165;
    color: white;
    font-size: 16px;
    cursor: pointer;
    font-weight: 600;
}

.btn-1 i{
    margin-left: 5px;
}
.btn-2 i{
    margin-right: 6px;
}
button:hover{
    background-color: #36754c;
    font-weight: bolder;
}
/* Header Content */

.header_content{
    background-image: url(assets/hero-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 700px;
}


.header_content .main_header_content{
    text-align: center;
    padding: 110px 120px;
}
 #p_div{
    border-radius: 8px;
    background: #30B868;
    width: 10px;    
}
.main_header_content .header_p{
    color: #469165;
    background-color:#FFFFFF ;
    display: inline-block;
    width: fit-content;
    padding: 8px 20px;
    border-radius: 100px;
    font-weight: 500;
    
}
.main_header_content h1{
    font-size: 70px;
    text-transform: capitalize;
    margin: 20px 0;
    color: #FFFFFF;
}
.header_content_h1{
    color: rgba(48, 184, 104, 1);
}
.main_header_content .header_p-2{
     color: #ffffffce;
    font-size: 20px;
    margin-bottom: 30px;
    line-height: 40px;
    font-weight: 300;
}
.header_buttons{
    display: flex;
    justify-content: center;
    gap: 20px;
}
.btn-1{
    padding: 14px 20px;
    border: none;
    border-radius: 6px;
    background-color: #469165;
    color: white;
    font-size: 16px;
    cursor: pointer;
    font-weight: 500;
}
.btn-2{
    padding: 20px 25px;
    border: 2px solid rgba(255, 255, 255, 0.363);
    border-radius: 6px;
    background-color: transparent;
    color: white;
    font-size: 16px;
    cursor: pointer;
    font-weight: 500;

}
header_p-1 i{
    color: #e20ec6;
}
.card img{
    background-color: #F95555;
    border-radius: 20px;
    /* width: 10px; */
    padding: 10px;
}
.main_1 p{
    color: #627382;
}
.main_div{
    /* margin: 0 auto; */
    /* width: 1800px; */
    /* background-color: aqua; */
    align-items: center;
    text-align: center;
    padding: 0 80px;

}
.main_div h2{
    font-size: 50px;
    text-transform:capitalize;
    margin:50px ;
    margin-bottom: 20px;
}

.main_div p{
    font-size: 18px;
    margin-bottom: 45px;

}
.card{
    display: flex;
    justify-content: space-around;
    /* background: rgba(255, 255, 255, 1); */
    /* background-color: #469165; */
    margin: 0 auto;
    max-width: 1600px;
    gap: 28px;

}
.card_block h3{
    font-size: 30px;
    text-transform: capitalize;
    margin: 20px 0;
}
.card_block{
    width: 350x;
    height: 350px;
    box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.205);
    padding: 70px 25px;
    /* background: rgba(255, 255, 255, 1); */
    /* background-color: #FFFFFF; */

}

/* main contant 2 */
.main_2{
    /* display: flex; */
    /* background-color: #06e262; */
    padding: 50px;
    margin-top: 50px;
    /* padding-left: 50px; */
}
.main_contant{
    /* background-color: #e20ec6; */
    display: flex;
    margin-left: 80px;
    /* margin: 0 auto; */
    /* text-align: center;    */
    align-items: center;
    gap: 50px;
}
.main_contant p{
    font-size: 16px;
}
.main_contant h2{
    font-size: 48px;
    text-transform: capitalize;
    margin: 20px 0;
}
.main_contant li {
 list-style: none;
 margin-bottom: 10px;
}
.main_contant  img{
   margin-right: 10px;
   border-radius: 15px;
}
.main_contant ul{
    margin: 25px 0 ;
}
.main_p{
    color: #469165;
    text-transform: uppercase;
}
.send_p{
    color: #627382;
}
/* main 3 section */

.main_3{
   /* background-color: #469165; */
   /* padding: 50px; */
   /* margin-left: 50px; */
   margin: 50px auto;

}
.main_3_div{
    background-color: #F7F6F2;
    /* background-color: #F95555; */
    margin: 0 auto;
    width: 1700px;
    /* align-items: center; */
    text-align: center;
    padding: 50px ;
    /* padding-right: 200px; */
    margin-left: 120px;
    
}
.main_3_div h2{
    font-size: 40px;
    margin: 20px 0;
    text-transform: capitalize;
}
.main_3_div p{
    font-size: 18px;
    color: #627382;
}
.btn-3{
       padding: 14px 20px;
    border: none;
    border-radius: 6px;
    background-color: #469165;
    color: white;
    font-size: 16px;
    cursor: pointer;
    font-weight: 500;
    margin: 18px 0;
}
.btn-3 i{
    margin-left: 5px;
}
.f{
    background-color: white;
    border-radius: 10px;
    width: 20px;
    /* padding: 10px; */
}
.links{
    margin-top: 10px;
    display: flex;
    gap: 10px;
}
footer{
    background-color:#001931 ;
    /* color: #FFFFFF; */
    /* display: flex; */
    padding: 50px ;
    margin-top: 110px;
}
footer p{
    color: #FFFFFF; 
}
.footer_contant{
    display: flex;
    justify-content: space-between;
    margin:80px 0 ;
    padding: 0 70px;
    /* background-color: #30B868; */
}
footer .footer_p{
    /* align-items: center;
    margin: 0 auto; */
    /* background-color: #469165; */
    text-align: center;
    margin-top: 50px;
    color: #FFFFFF; 
}
hr{
    opacity: .5;
}