* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
      font-family: "Inter", sans-serif;

}

header{
    
}
header nav{
    display: flex;
    justify-content: space-around;
    /* background-color: aqua; */
    /* padding: 16px 120px; */
    padding: 16px 120px 16px 120px;

}
header nav ul{
    list-style: none;
    display: flex;
    gap: 30px;
    align-items: center;

}
header nav ul li a{
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: medium;
}
header .btn_1{
    padding: 12px 16px;
    border: none;
    border-radius: 6px;
    background-color: #469165;
    color: white;
    font-size: 16px;
    cursor: pointer;
    font-weight: 600;
}
button:hover{
    background-color: #36754c;
    font-weight: bolder;
}
/* Header Content */

.header_content{
    background-image: url(assets/hero-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 700px;
}
.header_content .main_header_content{
    text-align: center;
    padding: 110px 120px;
}
 #p_div{
    border-radius: 8px;
    background: #30B868;
    width: 10px;    
}
.main_header_content .header_p{
    color: #469165;
    background-color:#FFFFFF ;
    display: inline-block;
    width: fit-content;
    padding: 8px 25px;
    border-radius: 100px;
    font-weight: 500;
}
.main_header_content h1{
    font-size: 70px;
    text-transform: capitalize;
    margin: 20px 0;
    color: #FFFFFF;
}
.header_content_h1{
    color: rgba(48, 184, 104, 1);
}
.main_header_content .header_p-2{
     color: #ffffffce;
    font-size: 20px;
    margin-bottom: 30px;
    line-height: 40px;
    font-weight: 300;
}
.header_buttons{
    display: flex;
    justify-content: center;
    gap: 20px;
}
.btn-1{
    padding: 14px 20px;
    border: none;
    border-radius: 6px;
    background-color: #469165;
    color: white;
    font-size: 16px;
    cursor: pointer;
    font-weight: 500;
}
.btn-2{
    padding: 20px 25px;
    border: 2px solid rgba(255, 255, 255, 0.363);
    border-radius: 6px;
    background-color: transparent;
    color: white;
    font-size: 16px;
    cursor: pointer;
    font-weight: 500;

}